@CHARSET "ISO-8859-2";

html,body {
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: center;
}

#nowyrecord {
	/*	border-color: green;
	border-style: dashed;*/
	border-radius: 5mm;
	overflow: hidden;
	margin: 10mm auto 10mm auto;
	padding: 0mm 7mm 0mm 7mm;
	width: 430pt;
	background-color: #F3FFDB;
	color: #065900;
	box-shadow: 2px 2px 5px #800000;
}




.addctrl {
	float: inherit;
	dispay: inline;
	width: 300pt;
}

#books {
	width: 480pt;
	margin: auto auto auto auto;
}

#booksFolder {
	width: auto;
	overflow: auto;
	border-radius: 5mm;
	background-color: #F3FFDB;
	color: #065900;
	box-shadow: 2px 2px 5px #800000;
}

.bookDiv {
	padding: 0mm 7mm 0mm 7mm;
	overflow: hidden;
	width: auto;
}

.uL1,.l1 {
	padding: 5mm 0mm 5mm 0mm;
	overflow: hidden;
	margin: 0pt 0pt 1pt 1pt;
	border-right-style: double;
	border-bottom-style: double;
	border-color: graytext;
	border-width: medium;
	border-color: graytext;
	background-color: #BCAE69;
}

.uL2,.l2 {
	width: auto;
	overflow: hidden;
	margin: 0pt 0pt 1pt 1pt;
	border-bottom-style: double;
	border-right-style: double;
	border-color: graytext;
	border-width: medium;
}

.uL3,.l3 {
	overflow: auto;
	margin: 0mm;
	margin: 5pt 0pt 1pt 1pt;
	border-top-style: solid;
	border-top-width: thick;
	border-top-color: black;
	border-left-style: solid;
	border_left-width: thick;
	border_left-color: black;
	border-color: bgraytext;
	border-width: medium;
	border-right-style: double;
	border-bottom-style: double;
	border-bottom-left-radius: 11pt 11pt;
	border-top-right-radius: 11pt 11pt;
	background-color:white;
}

.rowUp,.row {
	width: inherit;
	float: right;
	padding-right: 5mm;
	overflow: hidden;
}

.rowUp>div,.row>div {
	font-size: 12pt;
	display: inline;
	margin: auto auto auto auto;
	padding-right: 6mm;
}

.updateCtrs {
	overflow: hidden;
	margin-top: 2mm;
	display: inline;
	float: right;
	width: 300pt;
}

.toDelete, .Bt_Update ,#updateBooksBt,#addRec  {
	margin: 5mm 0mm 5mm 0mm;
}


.wrongData {
	border-color: red;
	border-style: groove;
	border-width: thick;
}

.dataChanged {
	border-color: yellow;
	border-style: groove;
	border-width: thick;
}

#actName
{
	color:#BC6866;
}

#informer {
	color:#0C5605;
	font-size:27pt;
	background-color:#23FF10;
	box-shadow: 2px 2px 25px #800B5B;
}